.uno{
	background-color: #C2A4D1;
	color: black;
	border: 5px black;
	text-align: center;
}
.dos{
	background-color: #A569BD;
	color: black;
	border: 10px black;
	text-align: center;
}				
.yo{
	background-color: gray;
	color: black;
	border: 2px black;
	text-align: center;
}
#si{
	background-color: #A169BD;
	color: white;
	text-align: left;
}